font-face {
  font-family: "firaCode";
  src: url("fonts/FiraCode-Bold.woff2");
}

body {
  background: var(--bg-color);
  margin: 0;
  font-family: firaCode, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
