:root {
    --text-color: #ffffff;
    --bg-color: #222222;
}

[data-theme="earth"]  {
    --text-color: #cbd4c2;
    --bg-color: #50514f;
}

[data-theme="nautilus"]  {
    --text-color: #abdbdb;
    --bg-color: #2b3d41;
}

[data-theme="mint"]  {
    --text-color: #cce3de;
    --bg-color: #41705c;
}

[data-theme="cheesecake"]  {
    --text-color: #edf0da;
    --bg-color: #aa4465;
}

[data-theme="cinema"]  {
    --text-color: #f6ae2d;
    --bg-color: #2f4858;
}

[data-theme="eggplant"]  {
    --text-color: #a0c1b8;
    --bg-color: #351f39;
}

[data-theme="coffee"]  {
    --text-color: #ffdf91;
    --bg-color: #493323;
}
